<!DOCTYPE html>
<html ng-app="CC">
  <head>
    <title>Clueless Closet</title>
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/mobile.css' />

    <!-- Angular Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
  </head>
  <body>

  <div id="header">
    <div class="left">
      <form> 
        <input type="button" value=" < " onClick="history.back()"> 
      </form>
    </div>
    <div>
      <% if (user.facebook.token) { %>
      <h2><%= user.facebook.name %>'s
      <% } else { %>
        <h2><%= user.local.name %>'s
      <% } %>
        <a href="/#closet"><%= user.closet %></a> closet</h2> 
    </div>
    <div class="right">
      <button onclick="location.href='/profile#/';">menu</button> 
    </div>
  </div>

  <div id="mobile-header">
    <div class="left">
      <form> 
        <input type="button" value=" < " onClick="history.back()"> 
      </form>
    </div>
    <div>
      <% if (user.facebook.token) { %>
      <h2><%= user.facebook.name %>'s
      <% } else { %>
        <h2><%= user.local.name %>'s
      <% } %>
        <a href="/#closet"><%= user.closet %></a> closet</h2> 
    </div>
    <div class="right">
      <button onclick="location.href='/profile#/';">menu</button> 
    </div>
  </div>
  
	<div id="container">
    <ng-view>
    <div ng-init="userId = '<%= user._id %>'"></div>
    </ng-view>
  </div>
  
		

  <script src="angular/app.js"></script>
  <script src="angular/welcome/welcomeCtrl.js"></script>
  <script src="angular/item/itemCtrl.js"></script>
  <script src="angular/outfit/outfitCtrl.js"></script>
  <script src="angular/closet/closetCtrl.js"></script>
  <script src="angular/type/typeCtrl.js"></script>
  <script src="angular/tag/tagCtrl.js"></script>
	    
  </body>
</html>
