<!DOCTYPE html>
<html>
  <head>
    <title>Clueless Closet</title>
    <meta name="viewport" content="width=device-width" />
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/mobile.css' />
  <body>

  <div id="header">
    <div class="left">
      <form> 
        <input type="button" value=" < " onClick="history.back()"> 
      </form>
    </div>
    <div>
      <% if (user.facebook.token) { %>
      <h2><%= user.facebook.name %>'s
      <% } else { %>
        <h2><%= user.local.name %>'s
      <% } %>
        <a href="/#closet"><%= user.closet %></a> closet</h2> 
    </div>
    <div class="right">
      <button onclick="location.href='/profile#/';">menu</button> 
    </div>
  </div>

  <div id="mobile-header">
    <div class="left">
      <form> 
        <input type="button" value=" < " onClick="history.back()"> 
      </form>
    </div>
    <div>
      <% if (user.facebook.token) { %>
      <h2><%= user.facebook.name %>'s
      <% } else { %>
        <h2><%= user.local.name %>'s
      <% } %>
        <a href="/#closet"><%= user.closet %></a> closet</h2> 
    </div>
    <div class="right">
      <button onclick="location.href='/profile#/';">menu</button> 
    </div>
  </div>

  <div id="container">
    <div>
      <% if (user.local.email) { %>
        <h3>Clueless user: <%= user.local.name %> </h3><br>
                  
        <button class="small-button" onclick="location.href='/unlink/local';">Unlink</button>
      <% } else { %>
        <button class="small-button" onclick="location.href='/connect/local';">Connect Clueless user</button>
      <% } %>
      <br><br>
      <% if (user.facebook.token) { %>
          <h3>Facebook user: <%= user.facebook.name %> </h3><br>

          <button class="small-button" onclick="location.href='/unlink/facebook';">Unlink</button>
      <% } else { %>
          <button class="small-button" onclick="location.href='/connect/facebook';">Connect Facebook user</button>
      <% } %>
    </div>
  </div>      
  </body>
</html>






   